<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>登入 / 註冊</title>
    <link rel="stylesheet" href="./../static/lrstyles.css">
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #672323;
        /* 背景顏色 */
      }

      .section {
        width: 440px;
        /* 可根據您的需求調整寬度 */
      }

      /* 如果需要覆蓋的樣式 */
      /* .card-front {
            width: ...;
            height: ...;
            ...
        } */
      /* .card-back {
            width: ...;
            height: ...;
            ...
        } */
    </style>
  </head>
  <header id="myHeader">
    <div class="top-nav">
      <h2>
        <img src="{{ url_for('static', filename='top.jpg') }}" style="width: 110px; height: 55px;">
      </h2>
      <nav>
        <ul>
          <li>
            <a href="/mainpage">首頁</a>
          </li>
          <li>
            <a href="/aboutus">關於我們</a>
          </li>
          <li>
            <a href="/services">服務</a>
          </li>
          <li>
            <a href="/contactus">聯係我們</a>
          </li>
          <li>
            <a href="/loginregister">登入注冊</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <div class="section">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
              <label for="reg-log"></label>
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3">Log In</h4>
                        <div class="form-group">
                          <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <a href="#" class="btn mt-4">submit</a>
                        <p class="mb-0 mt-4 text-center">
                          <a href="#0" class="link">Forgot your password?</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card-back">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3">Sign Up</h4>
                        <div class="form-group">
                          <input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <a href="#" class="btn mt-4">submit</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>