<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>支付结算</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='paymentstyles.css') }}">
    <link rel="stylesheet" href="./../pay.css">
</head>
<body>
    <header>
        <!-- 头部内容 -->
    </header>

    <main class="container">
        <h1>支付结算</h1>

        <div class="payment-details">
            <p>您选择的票种是：</p>
            <p>数量：</p>
            <p>票价：</p>
            <p>支付方式：</p>
            <p>总价：</p>
        </div>

        <form id="payment-form">
            <!-- 这里添加付款表单，例如信用卡信息输入等 -->
            <button type="submit">确认支付</button>
        </form>
    </main>

    <script>
        // 检索并显示选定票种和价格
        const ticketType = localStorage.getItem('selectedTicketType');
        const quantity = localStorage.getItem('selectedQuantity');
        const paymentMethod = localStorage.getItem('selectedPaymentMethod');

        // 获取票价信息并计算总价
        let price;
        switch (ticketType) {
            case 'weekend':
                price = 500;
                break;
            case 'perday23':
            case 'perday24':
                price = 300;
                break;
            case 'night23':
            case 'night24':
                price = 180;
                break;
            default:
                price = 0;
                break;
        }

        const totalPrice = price * quantity;

        // 在页面中显示付款详情
        const paymentDetails = document.querySelector('.payment-details');
        paymentDetails.innerHTML = `
            <p>您选择的票种是：${ticketType}</p>
            <p>数量：${quantity}</p>
            <p>票价：${price}</p>
            <p>支付方式：${paymentMethod}</p>
            <p>总价：${totalPrice}</p>
        `;

        // 添加支付表单逻辑
        const paymentForm = document.getElementById('payment-form');
        paymentForm.addEventListener('submit', function(event) {
            // 在这里处理支付逻辑，可以向后台发送支付请求等
            event.preventDefault();
            // 进行支付处理
            // ...

            // 支付成功后的操作
            // 例如重置 Local Storage 中的值以及显示支付成功信息等
        });
    </script>
</body>
</html>
